BOT_TOKEN_BALE=your_bale_token_here
CHANNEL_ID_BALE=your_bale_channel_id

TOKEN_RUBIKA=your_rubika_token
CHANNEL_ID_RUBIKA=@your_channel

TOKEN_TELEGRAM=your_telegram_bot_token
CHAT_ID_TELEGRAM=-100xxxxxxxxxx